.card {
  position: relative;
  margin: 20px;
  width: 100%;
  box-shadow: 0 2px 8px rgba(181, 174, 174, 0.26);
  border-radius: 6px;
  padding: 1rem;
  overflow: hidden;
  cursor: pointer;
  background: white;
}
