.create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right top,#fe7062,#1a0f91);
  padding: 56px;
}

.create-container .heading {
  text-align: center;
  color: #fff;
}

.create-container .create-panel {
  margin-top: 32px;
  width: 760px;
  padding: 40px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.create-container .form-group {
  margin-top: 24px;
}

.create-container label {
  margin-bottom: 8px;
}

.profile-image, .project-image {
  text-align: center;
}

.profile-image .btn, .project-image .btn {
  margin-top: 16px;
}

.profile-image-preview {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.project-image-preview {
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.submit-section {
  text-align: center;
}