.create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  padding-top: 32px;
  padding-bottom: 32px;
}

.create-container .create-panel {
  margin-top: 32px;
  width: 760px;
  padding: 40px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.create-container .form-group {
  margin-top: 24px;
}

.create-container label {
  margin-bottom: 8px;
}

.create-container .btn {
  width: 100%;
  margin-top: 32px;
}

/* 
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 20px;
}

.outline {
  border: 1px solid #e8e8e8;
  margin-bottom: 30px;
}

h4 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.editable-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #e8e8e8;
  padding: 5px 0;
  font-size: 16px;
  transition: border-color 0.2s ease-in-out;
}

.editable-input:focus {
  outline: none;
  border-bottom-color: #56283d;
}

.error-message {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
}

.image-container,
.image-container-project {
  margin-top: 10px;
  text-align: center;
}

.uploaded-image {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.button-control {
  margin-top: 20px;
  text-align: center;
}


.footer {
  background-color: #f8f9fa;
  padding: 10px;
  text-align: center;
  margin-top: 30px;
}

.footer p {
  margin: 0;
}

@media (max-width: 576px) {
  h4 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .card {
    padding: 10px;
  }
}

@media (max-width: 992px) {
  .container {
    padding: 10px;
  }
} */