.search-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fe7062;
  height: 5rem;
  padding: 30px;
}

.search-filter select {
  color: #fff !important;
}

.btn.btn-primary.btn-lg {
  font-size: medium;
  background-color: red; 
  color: white; 
}

.btn.btn-primary.btn-lg:hover {
  background-color: darkred; 
}
