.search-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(224, 233, 228);
  height: 5rem;
  padding: 30px;
} 
.btn.btn-primary.btn-lg {
  font-size: medium;
  background-color: red; 
  color: white; 
}

.btn.btn-primary.btn-lg:hover {
  background-color: darkred; 
}
