.modified-container {
  background-image: linear-gradient(to right top,#fe7062,#1a0f91);
}

.modified-container .heading {
  text-align: center;
  color: #fff;
  padding: 56px;
}

.resume-panel {
  margin-bottom: 56px;
  padding: 40px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mod-user-img {
  margin-top: 0;
  width: 150px;
  height: 150px !important;
  border-radius: 50%;
  object-fit: cover;
}

.mod-project-img {
  border-radius: 6px;
}

.resume-panel hr {
  margin-top: 32px;
  margin-bottom: 32px;
}

.resume-panel .btn {
  margin-top: 32px;
}

.resume-panel .loading small {
  margin: 0 auto;
  margin-top: 24px;
  width: 70%;
  text-align: center;
}

.modal {
  text-align: center;
}

.modal h1 {
  color: #28a745;
}

.modal h1, .modal h3 {
  margin-bottom: 16px;
}

.modal-body {
  padding-top: 40px !important;
  padding-left: 40px !important;
  padding-right: 40px !important;
  padding-bottom: 0 !important;
}

.modal-footer {
  justify-content: center !important;
  border: none !important;
  padding-bottom: 40px !important;
}
