.resumes-container {
  width: 80%;
  height: 100%;
  /* margin: 50px; */
  display: flex;
  position: absolute;
}
.left-original {
  width: 50%;
  height: 90%;
  padding: 30px;
  border: 0px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 50px;
  background-color: #f9f6f6;
}

.ring {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: ring 2s linear infinite;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #e65c00;
  }
  33% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #18b201;
  }
  66% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #0456c8;
  }
}

.ring:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 5px rgba(255,255,255,.3);
}

.loading-animation{
  color: #737373;
  text-align: center;
  font-size: 17px; 
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 100px; 
  animation: text 3s ease-in-out infinite;
}

@keyframes text {
  50%{
    color: inherit black;
  }
}
