
h4{
  padding-top: 12px;
  text-align: center;
}

p{
  text-align: center;
}

.card{
  text-align: center;
}

.title{
  margin-top: 8px;
  height: 170px;
}

.outline{
  background-image: linear-gradient(to right top,#fe7062,#1a0f91);
  height:5px;
}
