.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right top,#fe7062,#1a0f91);
  padding: 56px;
}

.profile-panel {
  margin-top: 32px;
  width: 70%;
  padding: 40px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.summary-panel {
  width: 70%;
  padding: 0;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-container img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.summary-panel .row {
  padding: 24px 40px;
}

.user-img {
  margin-top: -96px;
  width: 200px;
  height: 200px !important;
  border-radius: 50%;
  object-fit: cover;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.form-control {
  margin-bottom: 16px;
}

.profile-panel p {
  margin-bottom: 0;
}

.profile-panel img {
  border-radius: 6px;
}