@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Gloock&display=swap');

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
  font-family: 'Gloock', serif;
}

a.navbar-brand {
  font-size: 2em;
}

.btn-primary {
  background-color: #fe7062 !important;
  border-color: #fe7062 !important;
}

.btn-primary:hover {
  background-color: #fff !important;
  border-color: #ffbeba !important;
  color: #fe7062 !important;
}